/* Error: Can't find stylesheet to import.
 *   ,
 * 7 | @import '../../../js/password/password.min';
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   themes\brutalist\sass\_allstyles.scss 7:9  @import
 *   themes\brutalist\sass\brutalist.scss 7:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 7 \2502  @import '../../../js/password/password.min';\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   themes\\brutalist\\sass\\_allstyles.scss 7:9  @import\a   themes\\brutalist\\sass\\brutalist.scss 7:9   root stylesheet";
}
